.container {
	height: 100vh;
}

.cursor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.cubeSelector {
	display: flex;
	align-items: center;
	position: absolute;
	top: 48%;
	left: 50%;
	height: 16px;
	transform: scale(5);
}

.showCubeSelector {
	z-index: 1;
	opacity: 1;
	box-shadow: 0 0 2000px 2000px rgb(0 0 0/50%);
	transition: all 0.3s;
}

.hideCubeSelector {
	z-index: -1;
	opacity: 0;
	transition: all 0.3s;
}

.cube {
	width: 16px;
	height: 16px;
}

.activeCube {
	border: 0.5px solid rgb(40, 228, 241);
}
